.colorsWrapper{
    display:flex;
    align-items: center;
    gap:5px;
    flex-wrap: wrap;
}
.colorsWrapper .colorSwatch{
    height: var(--swatches_size);
    width: var(--swatches_size);
    display: flex;
    cursor: pointer;
}
.colorSwatch.selected{
    border:1px solid black;
    padding:1px;
    box-shadow: 0px 5px 10px #0000009e;
    
}
.colorsWrapper .overMaxSwatchHidden{
    display: none;
}
.colorsWrapper .overMaxSwatchVisible{
    display: flex;
}
.plusSwatches{
    cursor: pointer;
    font-size: 12px;
}
.circle{
    border-radius: 50%;
}
.full-unstyled-link::after{
    display: none;
}