
.shop-the-look {
    display: flex;
    margin: 50px 0px;
    justify-content: center;
  }
  .shop-the-look__image {
    position: relative;
    width: 100%;
    max-height:1200px;
    max-width:var(--page-width);
  }
  .shop-the-look__image img {
    width: 100%;
    height: 100%;
  }
  .shop-the-look-dot {
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--spot-color);
    border-radius: 50%;
    cursor: pointer;
    display: block;
  }
  .shop-the-look-dot::after {
    content:"";
    margin:-10px;
    width: 40px;
    height: 40px;
    background:var(--spot-color);
    opacity: 0.3;
    border-radius: 50%;
    animation: 2s ease-in-out infinite alternate ping;
    position: absolute;
  }
  @keyframes ping {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(.8);
    }
  }
  .shop-the-look-dot:hover {
    transform: scale(1.2);
    transition: transform .2s ease-in-out;
  }
  .shop-the-look__product {
    width: 50%;
    padding: 20px;
  }
  .shop-the-look-product-detail[hidden] {
    display: none;
  }
  .shop-the-look-product-detail{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background: white;
    padding:10px;
    border:0.5px solid black;
  }